<ion-header>
  <ion-navbar color = "primary" hideBackButton>
    <ion-title>Home</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button (click)="makeNewActivities($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>  

</ion-header>


<ion-content>
  <ion-card *ngIf="activities.length">
    <ion-card-header class="card-header">Activities</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let activity of activities">{{activity}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!activities.length">
    <ion-card-header class="card-header">No activities!</ion-card-header>
    <ion-card-content>
      <p>You have no activities. Press the <strong>+</strong> up in the corner to create activities.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
